<div class="container">
  <h3>{{teamTitle}}</h3>
  <br>
  <div class="row">
  <div class="card col-sm-12 m-2" style="width: 18rem; height: 32rem;">
    <div class="row justify-content-left">
      {{#each teams as |team|}}
      <img class="card-img-top col mb-3" src={{pokemon.spriteImg}} alt={{pokemon.name}}/>
      {{/each}}
    </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title bottom-team bottom-text2">{{teamTitle}}</h5>
      <p class="card-text bottom-username bottom-text">Created by {{user.username}}</p>
    </div>
  </div>
  </div>
</div>